Package: com.lakr233.jw.SailyStartupDaemon
Name: SailyStartupDaemon
Version: 0.2.1
Description: Saily Package Manager Startup Daemon
Section: System
Depends: firmware (>= 11.0)
Conflicts: com.lakr233.jw.SailyPackageManager
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Lakr Aream
dev: https://twitter.com/Lakr233
Homepage: https://twitter.com/Lakr233
Depiction: nil
Maintainer: https://twitter.com/Lakr233
Icon: nil

