Package: ir2
Priority: optional
Section: System
Maintainer: IR2
Architecture: iphoneos-arm
Version: 2.0022
Depends: firmware (>= 10.0), mobilesubstrate
Description: IR2
Name: IR2
Author: kee
dev: IR2
Homepage: IR2
Depiction: IR2
